@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
/* font-family: 'Roboto', sans-serif; */
* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-bg-color: #f52f57;
  --task-enter-color: #f79d5c;
  --task-enter-border: #f3752b;
  --input-color: #ededf4;
  --task-tobe-color: #a20021;
}

body {
  background-color: var(--main-bg-color);
}

#header {
  font-size: 80px;
  text-align: center;
  margin-top: 50px;
}

#note-input {
  background-color: var(--task-enter-color);
  border: solid;
  border-color: var(--task-enter-border);
  border-radius: 30px;
  margin: 35px 200px 35px 200px;
  padding: 2px 60px 180px 60px;
  font-size: 25px;
  text-align: center;
}

#text-box {
  width: 35%;
  background-color: var(--input-color);
  display: inline-block;
  border: 10px solid var(--task-enter-border);
  border-radius: 5px;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#add-button {
  width: 15%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  background-color: var(--input-color);
  border: 3px solid red;
  border-radius: 5px;
  cursor: pointer;
}

#add-button:hover {
  background-color: #98fb98;
  width: 20%;
  font-size: 25px;
  transition: 0.1s;
}

#task-div {
  display: flex;
  justify-content: center;
  background-color: var(--input-color);
  margin: auto 300px auto 300px;
  padding: 400px auto 400px auto;
  border: 5px solid black;
}

#task-list {
  list-style: none;
}

#task-list {
  font-size: 30px;
}

input[type="checkbox"] {
  height: 20px;
  width: 35px;
}

li:hover {
  text-decoration: line-through;
}
